<!doctype html>
<html lang="en">
{% extends 'base.html' %}
  <body>
  {% block content %}


        <p style="font-size:14px;color: #1b1e21">Pakistan is a country located in south Asia, bordering on other highly prominent countries such as India, China, Iran and Afghanistan, all of which have sizeable pollution problems of their own. The economic giants that are India and China have many of their cities taking the top spots for some of the most polluted in the world, and Pakistan does not find much exception from this. Pakistan is an ancient region that has seen many cultures and kingdoms come and go, but now finds itself as an Islamic republic, with a massive population of some 212.2 million inhabitants, making it the 5th most populous country in the entire world.

In terms of its pollution levels, Pakistan has shown numbers that have come in very poorly in the past, with many of its megacities creating vast amounts of smoke, haze and deadly smog that permeates the air, causing a multitude of issues for its inhabitants.

In 2019, Pakistan came in with a PM2.5 reading of 65.81 μg/m³, not only putting it into the ‘unhealthy’ ratings category, which requires a reading of anywhere between 55.5 to 150.4 μg/m³ to be classed as such, but also into the 2nd place position out of most polluted countries in the world. PM2.5 refers to particulate matter that is 2.5 micrometers or less in diameter, roughly 3% the size of an average human hair.

It has a slightly larger cousin known as PM10 (10 micrometers or less) which has a number of ill effects on people’s health, but far less prominently than that of PM2.5. Due to its incredibly small size, it has some very serious health implications on those who respire it, and as such it is used as a major component in the calculation of overall air quality ratings.

With yearly average readings of numbers such as 65.81 μg/m³, Pakistan has a long way to go in order to remove itself from the top spot of most polluted countries worldwide, coming in with a reading that was nearly double that of China’s in 2019 (39.12 μg/m³). Two of its major cities, Gujranwala and Faisalabad, both came in the top 5 most polluted cities spot, taking 3rd and 4th place, with PM2.5 readings of 105.3 μg/m³ and 104.6 μg/m³ respectively, numbers that place them into the higher end of the unhealthy bracket, making the air quality not only detrimental but outright severe for all members of the population.

With numbers such as these, a plethora of unwanted health issues would arise, many of which will be discussed in detail. So, as it stands, Pakistan is indeed a polluted country, with some of the worst levels of pollution found in the world as of 2019.<br>
  This app is really helpful in finding about the ways to save and preserve nature by giving all the necessary information about
      the environmental data of Pakistan i.e Temperature,Pollution,Humidity and wind Pressure.
  </p>
     {% endblock %}
  </body>
       </html>